<a href="https://colab.research.google.com/github/rafaelacirino/exercicios/blob/main/Introdu%C3%A7%C3%A3o_Estat%C3%ADstica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Estatística</h1>

<p align='justify'>
Estatística trata-se de um ramo da matemática aplicada, uma metodologia, uma técnica científica, adotada para se trabalhar com <i>dados</i>, ou seja, com <i>elementos de pesquisa</i>. Esta metodologia consiste em uma série de etapas iniciando pela <b>coleta</b> das informações (dos dados) que, após coletadas, passarão por uma <b>organização</b> e <b>apresentação</b>. A próxima fase será a <b>análise</b> desses dados a qual funcionará como um meio pelo qual se chegará a uma conclusão que dará ensejo a uma <b>tomada de decisão</b>.<br>

A inferência estatística é  uma das partes da estatística . \esta, por sua vez, tem o objetivo de fazer a coleta, redução, análise e modelagem dos dados, a partir do que se faz a inferência para uma população da qual os dados (amostra) foram obtidos. Um aspecto importante da modelagem dos dados é fazer previsões a partir das quais pode-se tomar decisões.

Fases de um processo estatístico:
<ol>
<li>Coleta; 
<li>Organização;
<li>Apresentação ou Descrição dos dados;  
<li>Análise;
<li>Tomada de Decisão;
</ol>

Dados Brutos: dados coletados porém desordenados.

Classificação da estatística:
<ul>
<li><b>Estatística Descritiva ou Dedutiva</b>: encarregada da coleta, organização e descrição dos dados. Essas três etapas iniciais são a <i>síntese dos dados</i>.
<li><b>Estatística Indutiva ou Inferencial ou Avançada</b>: responsável pelas etapas finais do processo estatístico: análise e tomada de decisão.
</ul>
Conceitos básicos:
<ul>
<li><b>População</b>: também chamado de conjunto universo. É o conjunto pelo qual se pretende extrair a informação e cujos elementos têm, pleo menos, uma característica comum, a qual está inserida no contexto daquilo que se deseja analisar. 
<li><b>Ceenso</b>: uma das formas de se processar um estudo estatístico. É o tipo de estudo estatístico que abrange todos os elementos da população.
<li><b>Amostragem</b>: se contrapõe ao censo. É uma <i>amostra</i>, ou seja, uma parte, um subconjunto da população que representará o conjunto inteiro. Para que seja considerado uma amostra, é preciso que esta parte seja representativa do todo. Amostra é uma parte da população (um subconjunto), a partir da qual se pode auferir conclusões acerca desta mesma população, dando-lhe o caráter de representatividade.
</ul>
Quando se procede a uma análise de dados, busca-se alguma forma de <i>regularidade</i> ou <i>padrão</i> ou, ainda, <i>modelo</i>, presente nas observações.
</p>

* # Informações Estatísticas com Pandas

A área de ciência de dados é entrelaçada com a estatística, pois através da estatística podemos analisar e gerar relatórios aprofundados baseados em dados estatísticos.

Baseados em análises e modelos de machine learning, há pilares baseados na estatística e matemática. A estatística revela dados e descarta hipóteses em um projeto de Data Science.

Para conhecer algumas das principais funções do Pandas, será utilizado o *dataset* do projeto **[+BIKE](http://maisbikecompartilhada.com.br)**, que distribui bicicletas em pontos estratégicos de Brasília-DF, oferecendo uma solução de transporte que contribui com a mobilidade das pessoas na capital.

Caso deseje conhecer a base de dados original, basta acessar [este link](https://www.kaggle.com/joseguilhermelopes/bike-sharing-system-in-brasilia-brazil/downloads/bike-sharing-system-in-brasilia-brazil.zip/1#df_rides.csv).

In [2]:
#importar pandas
import pandas as pd

In [3]:
#criar o DataFrame
df = pd.read_csv("http://dl.dropboxusercontent.com/s/yyfeoxqw61o3iel/df_rides.csv")

In [4]:
#mostrar as 5 primeiras entradas
df.head()

  user_gender user_birthdate  ... ride_duration ride_late
0           M     1971-06-08  ...     16.250000       0.0
1           M     1989-02-11  ...      5.266667       0.0
2           M     1968-07-19  ...     15.400000       0.0
3           M     1991-12-19  ...      5.866667       0.0
4           M     1969-03-03  ...    641.133333       1.0

[5 rows x 10 columns]

In [5]:
#mostrar as 5 últimas linhas
df.tail()

       user_gender user_birthdate  ... ride_duration ride_late
287317           M     1994-01-16  ...     28.633333       0.0
287318           M     1990-04-15  ...     28.133333       0.0
287319           M     1976-06-19  ...      3.150000       0.0
287320           M     1978-01-27  ...      6.316667       0.0
287321           M     1984-05-27  ...      4.166667       0.0

[5 rows x 10 columns]

* ## Resumo das informações estatísticas

Uma das maneiras mais simples de se iniciar uma análise exploratória das variáveis numéricas é utilizando o método `describe()`.

Imediatamente você obtém um resumo contendo algumas das principais informações estatísticas relevantes:

* **count** - quantidade de entradas válidas
* **mean** - média dos valores
* **std** - desvio padrão
* **min** - menor valor da coluna
* **25%** - percentil 25
* **50%** - percentil 50 (e mediana)
* **75%** - percentil 75
* **max** - maior valor da coluna

É possível identificar de cara colunas com valores ausentes e possíveis *outliers* (por exemplo, olhando o valor da mediana e comparando com valores máximos e mínimos)

In [6]:
#mostra variáveis numéricas e retorna um resumo estatístico
df.describe()

       ride_duration      ride_late
count  214148.000000  214148.000000
mean       29.915932       0.098829
std        58.857297       0.298433
min         3.000000       0.000000
25%         8.083333       0.000000
50%        14.200000       0.000000
75%        33.766667       0.000000
max       999.600000       1.000000

* Count : quantas informações tem naquela coluna respectiva;
* Mean: média, duração média dos passeios;
* std: desvio padrão, variação de tempo de passeio entre usuários;
* min: mínimo, tempo mínimo de duração do passeio;
* 25%: 25% dos usuários estão abaixo de 8, 08 minutos de duração de passeio;
* 50%: 50% dos usuários estão abaixo de 14,20 minutos de duração de passeio;
* 75%: 75% dos usuários estão abaixo de 33,76 minutos de duração de passeio;
* max: tempo máximo de uso.

# Medidas de Tendência Central

Resumem um conjunto de valores em uma única medida que tendem a estar no centro da distribuição da amostra. São valores que tem o objetivo de resumir a amostra de tal maneira que esse valor tende a estar no centro da distribuição. A medida mais popular é a **média aritmética simples**.

* Média aritmética: soma dos valores/qtde de itens
* Moda: valor que aparece com maior frequência na amostra. É a única medida descritiva para dados categóricos(informações coletadas que representam características, atributos, qualidadea). Para valores que não há dados numéricos consegue calcular a moda através da frequência.
* Amostra/Distribuição Amostral: acontece quando não tem nenhum valor que tenha aparecido com maior frequência.
* Outlier: valor discrepante, valor que destoa da maioria dos valores da amostra.

**Qual a melhor medida de tendência central?**

Quando a média e a mediana tem valores próximos, indica possível ausência de valores discrepantes, de outliers, sendo assim, a melhor medida seria a média pois ela trabalha com todos os valores da amostra. Já quando há valores muito distantes um do outro, a presença de outliers, a melhor medida será trabalhar com a mediana mas tem que avaliar se este outlier é um valor que realmente poderia acontecer, se for possível de ser observado, usar a média, caso contrário, usar a mediana.

# Medidas de Dispersão

Maneira de mensurar a variabilidade de um conjunto de dados.
Medidas:  

* **Amplitude**: de menor importância. É a distância entre os extremos de uma amostra. É definida como sendo a diferença entre o maior e o menor valor do conjunto de dados. A vantagem da amplitude é sua facilidade de cálculo, porém, tem a desvantagem de levar em conta apenas dois valores, desprezando os demais.
* **Variância e Desvio Padrão**: mais utilizados em análise de dados de maior importância. Medem a variação do conjunto de dados em torno da média.

$$SD = \sqrt{\frac{1}{n}\sum_{i=1}^{n}(x_i - \overline{x}) ^ 2}$$

Um número alto do desvio padrão indica que os dados estão bem espelhados em relação à sua média. Já um desvio padrão baixo mostra que os valores estão mais agrupados, mais "juntos". Para calcular o desvio padrão de qualquer coluna, basta executar o método `std()` para a variável.

In [7]:
# calcular o desvio padrão para ride_calculation
df.ride_duration.mean()

29.915931894453134

In [8]:
# valor máximo
df.ride_duration.max()

999.6

In [9]:
# valor mínimo
df.ride_duration.min()

3.0